@import "main/custom-mixins";

//fonts
@import "fonts";

@import "main/header";
@import "main/content";

//mobility page
@import "main/sections/parallax-section";
@import "main/sections/carousel-section";
@import "main/sections/description-section";
@import "main/sections/features-section";
@import "main/sections/tiles-section";
@import "main/sections/add-to-cart-section";
@import "main/sections/policy-section";
@import "main/sections/comingsoon-section";
@import "main/sections/login-section";
@import "main/sections/accessory-section";
@import "main/sections/aboutnc-section";

//footer
@import "main/footer";



body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
.row {
    margin:0 !important;
}
//modal styles
.modal-open {
    overflow: auto !important;
}
.modal {
    overflow: hidden !important;
}
#myModal {
    .modal-body {
        iframe {
            width:100%;
            margin:0 auto;
            height: 450px;
        }
    }
}
//modal

a,button,.navbar-right li {
    @include transition(all, 0.2s, ease-in-out);
}


@media (min-width: 1680px) {
    .container {
        width:1680px !important;
    }
}

section {
    text-align: center;
    margin-top:20px;
    padding-bottom:20px;
    -webkit-box-shadow: 0 5px 20px 0px #bfb8b2;
    -moz-box-shadow:0 5px 20px 0px #bfb8b2;
    box-shadow: 0 5px 20px 0px #bfb8b2;

    @media (max-width: 992px) {
        height: auto !important;
    }
}
.intro-section {
    margin-top: 74px;
    height: auto;
    padding-bottom: 0;
}

body {
    overflow: hidden;
}



/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:128px;
    height:128px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image:url("../images/preloader.gif"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    @media (max-width: 400px) {
        top:30%;
        left:30%;
    }

}