@import "main/custom-mixins";

//fonts
@import "fonts";

@import "main/header";
@import "main/content";

//mobility page
@import "main/sections/parallax-section";
@import "main/sections/carousel-section";
@import "main/sections/description-section";
@import "main/sections/features-section";
@import "main/sections/tiles-section";
@import "main/sections/add-to-cart-section";

//privacy & policy page
@import "main/sections/policy-section";
//coming soon page
@import "main/sections/comingsoon-section";
//login page
@import "main/sections/login-section";
//accessory page
@import "main/sections/accessory-section";

//about NC world page
@import "main/sections/aboutnc-section";

//cart page
@import "main/sections/cart-section";

//product page
@import "main/sections/product-section";

//footer
@import "main/footer";



body {
    width: 100%;
    height : auto;
    background: #d8d2cb !important;
}
html {
    width: 100%;
    height: 100%;
}
.row {
    margin:0 !important;
}

//sections 
.fixed-height-section {
    height: 700px;
}

//modal styles
.modal-open {
    overflow: auto !important;
}
.modal {
    overflow: hidden !important;
}
#myModal {
    .modal-body {
        iframe {
            width:100%;
            margin:0 auto;
            height: 450px;
        }
    }
}
//modal



//typography 

body h1 {
    font-family: Quicksand-Light;
    @include font-size(80px);
    font-size:80px\9 !important;
    @include bp-small {
        @include font-size(30px);
        line-height: 20px;
    }
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(60px);
        line-height: 60px;
    }
}

body h2 {
    font-family: $lobster-font;
    @include font-size(90px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(60px);
    }
    @include bp-small {
        @include font-size(20px);
    }
}
body h3 {
    font-family: Quicksand-Light;
    @include font-size(45px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(30px);
    }
    @include bp-small {
        @include font-size(30px);
    }
}
body h4 {
    font-family: Quicksand-Bold;
    @include font-size(30px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(20px);
    }
    @include bp-small {
        @include font-size(20px);
    }
}
body h5 {
    font-family: Quicksand-Light;
    @include font-size(30px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(20px);
    }
    @include bp-small {
        @include font-size(20px);
    }
}
body h6 {
    font-family: $lobster-font;
    @include font-size(24px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(16px);
    }
    @include bp-small {
        @include font-size(16px);
    }
}
body h7 {
    font-family: Quicksand-Light;
    @include font-size(16px);
    @media (min-width: 600px) and (max-width:992px) {
        @include font-size(12px);
    }
    @include bp-small {
        @include font-size(12px);
    }
}


a,button,.navbar-right li {
    @include transition(all, 0.2s, ease-in-out);
}


@media (min-width: 1680px) {
    .container {
        width:1680px !important;
    }
}

section {
    text-align: center;
    padding-bottom: 20px;
    background: #fff;
    -webkit-box-shadow:0px 4px 18px 1px #82746A;
    -moz-box-shadow:0px 4px 18px 1px #82746A;
    box-shadow: 0px 4px 18px 1px #82746A;
    
    @media (max-width: 992px) {
        height: auto !important;
    }
}
.intro-section {
    margin-top: 74px;
    height: auto;
    padding-bottom: 0;
}

body {
    overflow: hidden;
}



/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:128px;
    height:128px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image:url("../images/preloader.gif"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    @media (max-width: 400px) {
        top:30%;
        left:30%;
    }

}

// ///////

// #loader-wrapper {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1000;
// }
// #loader {
//     display: block;
//     position: relative;
//     left: 50%;
//     top: 50%;
//     width: 150px;
//     height: 150px;
//     margin: -75px 0 0 -75px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #3498db;

//     -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
//     animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
// }

//     #loader:before {
//         content: "";
//         position: absolute;
//         top: 5px;
//         left: 5px;
//         right: 5px;
//         bottom: 5px;
//         border-radius: 50%;
//         border: 3px solid transparent;
//         border-top-color: #e74c3c;

//         -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
//         animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
//     }

//     #loader:after {
//         content: "";
//         position: absolute;
//         top: 15px;
//         left: 15px;
//         right: 15px;
//         bottom: 15px;
//         border-radius: 50%;
//         border: 3px solid transparent;
//         border-top-color: #f9c922;

//         -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
//           animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
//     }

//     @-webkit-keyframes spin {
//         0%   { 
//             -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
//             -ms-transform: rotate(0deg);  /* IE 9 */
//             transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
//         }
//         100% {
//             -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
//             -ms-transform: rotate(360deg);  /* IE 9 */
//             transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
//         }
//     }
//     @keyframes spin {
//         0%   { 
//             -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
//             -ms-transform: rotate(0deg);  /* IE 9 */
//             transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
//         }
//         100% {
//             -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
//             -ms-transform: rotate(360deg);  /* IE 9 */
//             transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
//         }
//     }

