@import "main/custom-mixins";

@import "main/header";
@import "main/content";

//mobility page
@import "main/sections/parallax-section";
@import "main/sections/carousel-section";
@import "main/sections/description-section";
@import "main/sections/features-section";
@import "main/sections/tiles-section";
@import "main/sections/add-to-cart-section";

//footer
@import "main/footer";





body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
.row {
    margin:0 !important;
}
//modal styles
.modal-open {
    overflow: auto !important;
}
.modal {
    overflow: hidden !important;
}
#myModal {
    .modal-body {
        iframe {
            width:100%;
            margin:0 auto;
            height: 450px;
        }
    }
}
//modal



@media (min-width: 1680px) {
    .container {
        width:1680px !important;
    }
}
@media (min-width: 768px) and (max-width: 1680px) {
    .container {
        width:auto !important;
    }
}
@media (max-width: 768px) {
    .container {
        padding-left:0 !important;
        padding-right:0 !important;
    }
}
section {
    text-align: center;
    margin-top:20px;
    padding-bottom:20px;
    -moz-box-shadow:    inset 2px 8px 20px #bdbdbd;
    -webkit-box-shadow: inset 2px 8px 20px #bdbdbd;
    box-shadow:         inset 2px 8px 20px #bdbdbd;
    @media (max-width: 992px) {
        height: auto !important;
    }
}
.intro-section {
    margin-top: 75px;
    height: auto;
    padding-bottom: 0;
}
