@import "main/mixins";

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}



section {
    height: 100%;
    text-align: center;
    padding-top:100px;
}
.carousel {
    @media (min-width: 992px) {
        height: 100%;
    }
}
.intro-section {
}
.about-section {
    background: #eee;
}

.services-section {
    background: #fff;
}

.contact-section {

    background: #eee;
}