
@mixin vertical-align {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vert{
    & > p,
    & > div,
    & > a{
        @include vertical-align;
    }
}
