//$add to cart section begin


.add-to-cart-section {
	margin-top: 0;
	text-align: left;
	@media (min-width: 1600px) {
		height: 700px;
		height:750px\9;
	}
	.quantity {
		@media (max-width: 600px) {
			display: none;
		}
	}
	.col-xs-7 {
		@media (max-width: 600px) {
			width:100%;
		}
	}
	.col-xs-5 {
		@media (max-width: 600px) {
			width:100%;
		}
	}
	.product-name {

		h2 {
			color:#007984;
		}
	}
	.product-options {
	@media (max-width:600px) {
		margin-top:20px;
	}
		.col-xs-6 {
			width:100%;
			@media (max-width: 600px) {
				width:50%;
			}
		}
		.form-group {
			margin-bottom: 10px;	
			@media (min-width:600px) and (max-width:992px) {
				margin-bottom: 5px;
			}	
			span {
				margin-right:15px;
				@include bp-small {
					margin-right: 5px;
				}
			}
		}
		label {
			@include font-size(20px);
			cursor: pointer;
			margin-left:5px;
			@media (min-width:600px) and (max-width:992px) {
				@include font-size(16px);
			}
			@media (max-width: 600px) { 
				@include font-size(12px);
			}
		}
		.add_to_cart {
			margin-left:10px;
			span {
				background: none;
				img {
					border-right:1px solid #dfdad7;
					padding-right:15px;
					padding-left:5px; 
				}
			}

		}
		.quantity {
			margin-left:15px;
			@include clearfix;
			input {
				position:relative;
				z-index: 2;
				border:1px solid #DBDBDB;
			}
			div {
				display: inline-table;
				display:block\9;
			}
			.clicker {
				position:relative;
				width:130px;
				input[type="text"] {
					width: 50px;
					height: 35px;
					border-radius: 20px;
					border: 1px solid #b0a8a2;
					text-align: center;
					position: relative;
					top:4px;
					behavior: url(../dev-assets/css/PIE.htc);
				}
			}
			a {
				width: 37px;
				height: 34px;
				display: inline-block;
				position: absolute;
				vertical-align: middle;
				font-size:20px;
				font-weight:700;
				padding-top:6px;
				top:5px;
				&:hover {
					text-decoration: none;
				}
			}
			a.minus {
				background: #F2EEEB;
				border-top-left-radius:20px;
				border-bottom-left-radius:20px;
				color:#C1B3A8;
				left:15px;
				padding-right:10px;
			}
			a.plus {
				background: #C3B6AD;
				border-top-right-radius:20px;
				border-bottom-right-radius:20px;
				color:#fff;
				right:15px;
				padding-left:10px;

			}
			h5 {
				margin-bottom: 15px;
				float:left;
			}

		}
		.price {
			max-width:280px;
			clear:both;
		}

		h5 {
			color:#7c6f66;
			padding-bottom: 10px;
			margin-bottom: 30px;
			margin-top: 0px;
			-webkit-box-shadow: 0 8px 6px -6px  #ebe7e3;
	   		-moz-box-shadow: 0 8px 6px -6px #ebe7e3;
	        box-shadow: 0 8px 6px -6px  #ebe7e3;
	        max-width:270px;

	        clear:both;
	        text-align: center;
	        @media (min-width:600px) and (max-width:992px) {
	        	@include font-size(20px);
	        	margin-top: 10px;
	        	margin-bottom: 10px;
	        }
	        @media (max-width: 600px) {
	        	@include font-size(16px);

	        	margin-top:0;
	        }

		}

		.select_size {
			margin-top:20px;
			margin-bottom:20px;
			@media (max-width:600px) {
				margin-top:0;
				padding-left:25px;
			}
			label { color:#c3b6ad; }
			input[type="radio"] {
				display: none;
			}
			input[type="radio"] + label span {
			    display:inline-block;
			    width:29px;
			    height:29px;
			    vertical-align:middle;
			    background:url('../images/radio_button.png') left top no-repeat;
			    cursor:pointer;
			}
			input[type="radio"]:checked + label span {
			    background:url('../images/radio_button_active.png')no-repeat;
			    background-position: 0 0px;
			    @include border-radius(20px);

			}

		}

		.select_color {
			input[type="radio"] {
				display: none;
			}
			input[type="radio"] + label span {
			    display:inline-block;
			    width:29px;
			    height:29px;
			    vertical-align:middle;
			    cursor:pointer;
			}
			.celadon input[type="radio"] + label span {
				background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
				background-position: 0px 1px;
			}
			.celadon label  { color:#007984; }
			.celadon input[type="radio"]:checked + label span {
				background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
				background-position: 0px 1px;
			}
			.mustard input[type="radio"] + label span {
				background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -26px;
			}
			.mustard label  { color:#f19911; }
			.mustard input[type="radio"]:checked + label span {
				background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
				background-position: 0px -26px;
			}
			.coral input[type="radio"] + label span {
				background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -53px;
			}
			.coral label { color:#f61737; }
			.coral input[type="radio"]:checked + label span {
				background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
				background-position: 0px -53px;
			}
			.grey input[type="radio"] + label span {
				background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -80px;
			}
			.grey label { color: #7c6f66; }
			.grey input[type="radio"]:checked + label span {
				background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
				background-position: 0px -80px;
			}
		}
	}//product options
}
