//$ cart section begin 
@mixin cart-box-shadow {
	-webkit-box-shadow: 0px 0px 8px 2px  #b6ada5;
	-moz-box-shadow: 0px 0px 8px 2px #b6ada5;
    box-shadow: 0px 0px 8px 2px  #b6ada5;
}

.cart {
	margin:100px auto 20px;
	header {
		padding-bottom: 10px;
		padding-top: 10px;
		img {
			position: relative;
			bottom:4px;
			margin-right:5px;
		}
		h5 {
			color:#847870;
			letter-spacing: 4px;
			margin-left:20px;
		}
	}
	//order-column
	.cart-item {
		@include cart-box-shadow;
		behavior: url(../dev-assets/css/PIE.htc);
		background: #fff;
        table {
        	width:100%;
        	margin:0 auto;
        	tr {
        		border:1px solid #b6ada5;
        		td {
        			@include bp-small {
        				display: block;
        				text-align: center;
        				img {
        					margin:0 auto;

        				}
        			}
        			p {
	        			color:#847870;
	        			@include font-size(22px);
	        			margin-left:15px;	
	        			@include bp-small {
	        				@include font-size(16px);
	        				margin-left:0;
	        			}
        			}
        			strong {
        				font-family: "Quicksand-Bold";
        			}
        			a {
        				@include font-size(14px);
        				color:#c0b7b0;
        				text-decoration: underline;
        			}
        		}
        		td:first-child {
					width:119px;
					@include bp-small {
						width:auto;
						margin-top:10px;
					}
        		}
        		td:last-child {
        			text-align: right;
        			@include bp-small {
        				text-align: center;
        			}
        		}
        	}
	        .quantity {
	        	margin-right:40px;
	        	@include bp-small {
	        		margin-right:0;
	        	}
				input[type="text"] {
					width: 50px;
					@include font-size(20px);
					border-radius: 20px;
					border: 1px solid #b0a8a2;
					text-align: center;
					margin-bottom: 10px;
					position: relative;
					top:2px;
					behavior: url(../dev-assets/css/PIE.htc);
				}
			}
        }

	} //cart item

	.contact-info {
		margin-top:15px;
		@include bp-small {
			margin-bottom: 20px;
		}
		@include cart-box-shadow;
		behavior: url(../dev-assets/css/PIE.htc);
		background: #fff;
		.main-info {
			border-top:1px solid #b6ada5;
			border-bottom: 1px solid #b6ada5;
			padding-top:20px;
			padding-bottom: 20px;
			padding-left:20px;
			@include placeholder {
				color:#847870;
			}
			table td:first-child {
				color:#847870;
				width:40%;
				@include font-size(18px);
				letter-spacing: 3px;

				margin-right: 10px;
			}
			table td:last-child {
				width:100%;

			}
				input {
					width:100%;
					margin-bottom: 10px;
					background: #d8d2cb;
					margin-left:10px;
					border:0;
					@include bp-small {
						display: table;
						width:90%;
					}
				}
		}
		.additional-info {
			padding-left:20px;
			.list-inline {
				margin-top:20px;
			}
			span {
				@include font-size(16px);
				color:#847870;
			}
			.radio_buttons {
				label {
					margin-left:20px;
				}

				input[type="radio"] {
					display: none;
					margin-right: 50px;
				}
				input[type="radio"] + label span {
				    display:inline-block;
				    width:29px;
				    height:29px;
				    vertical-align:middle;
				    cursor:pointer;
				}
				input[name="b1"] + label span {
					background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
					background-position: 0px -53px;
				}
				input[name="b1"]:checked + label span {
					background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
					background-position: 0px -53px;
				}
				input[name="b2"] + label span {
					background:url('../images/sprites/radio_buttons_sprite.png')no-repeat;
					background-position: 0px -53px;
				}
				input[name="b2"]:checked + label span {
					background:url('../images/sprites/radio_buttons_active_sprite_1.png')no-repeat;
					background-position: 0px -53px;
				}
			}
			.inputs {
				input {
					background: #d8d2cb;
					border:0;
					@include bp-small {
						display: table;
						width:90%
					}
				}
				p {
					@include font-size(12px);
					margin-top:10px;
					color:#a69c95;
				}
			}
			.check {
				label {
					color:#847870;
					letter-spacing: 5px;
					@include font-size(20px);
				}
				input[type="checkbox"] {
					height: 20px;
					width:20px;
					margin-top:10px;
					background: red;
				}
			}
			.cart-description p {
				color:#a69c95;
				@include font-size(12px);
				width:70%;
				margin-bottom: 50px;
				margin-top: 10px;
				@include bp-small {
					width:90%;
				}
			}

		}
			.payment-link {
				background: #ff4438;
				width:100%;
				color:#fff;
				text-decoration: none;
				text-align: center;
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
				@include font-size(22px);
				&:hover {
					background: #d12e24;
				}
			}
	}



	//summary column
	.sum-column {
		border-bottom: 5px solid #ff4438;
		@include cart-box-shadow;
		behavior: url(../dev-assets/css/PIE.htc);
		background: #fff;
		table {
			width:100%;
			tr {
				border:1px solid #b6ada5;
				height:119px;
				td {
					p {
						margin-left:20px;
						margin-bottom: 0;
						strong {
							font-family: "Quicksand-Bold";
							color:#847870;
						}
						span {
							margin-left:40px;
						}
					}
				}
			}
			tfoot {
				padding:10px;
				tr {
					height: 60px;
					p {
						color:#ff4438;
					}
				}
			}
	
		}
	}
}