
// $features section begin

.features-section {
	padding-bottom: 0;
	margin-top: 0;
	text-align: left;
	background: #aa9c92;
	@media (min-width:600px) and (max-width:992px) {
		padding-bottom: 40px;
	}
	@media (min-width: 1600px) {
		height: 100%;	
	}

	.row-shadow {
		-webkit-box-shadow: 0 28px 26px -26px #82746a;
   		-moz-box-shadow:0 28px 26px -26px #82746a;
        box-shadow: 0 28px 26px -26px #82746a;
	}
	.col-md-6,.col-xs-6  {
		padding-left:0;
	}
	.features-description{
		padding-top:20px;
		padding-bottom: 40px;
		@media (min-width:600px) and (max-width:992px) {
			padding-left:20px;
		}
		h1 {
			@include font-size(80px);
			color:#9ae8dd;
			font-family: $lobster-font;
			margin-bottom: 0;
		}
		h2 {
			@include font-size(25px);
			color:#9ae8dd;
			font-family: Quicksand-Bold;
			margin-top:0;
		}
		h3,p {
			@include font-size(20px);
			color:#9ae8dd;
			font-family: Quicksand-Light;
		}

		p { color:#e8e2dd;}
	}
	.category-description {
		padding-top:20px;
		@media (min-width:600px) and (max-width:992px) {
			padding-left:20px;
		}
		h4 {
			color:#9ae8dd;
			@include font-size(25px);
			font-weight: 600;
			margin-bottom: 20px;
			@media (max-width: 600px) {
				@include font-size(18px);
			}
		}
		ul{
			padding-left: 0;
			li {
				list-style: none;
				padding-left:60px;
				margin-bottom: 20px;
				@include bp-small {
					height:60px;
				}
				@include font-size(18px);
				color:#fff;
				@media (min-width:600px) and (max-width:992px) {
					@include font-size(15px);

				}
				@media (max-width: 600px) {
					@include font-size(12px);
				}
				p {
					margin-bottom: 0;
					color:#e8e2dd;
				}
			}
		}
		.general {
			ul {

				li.weight {
					background: url('../images/sprites/general-icons-sprite.png')no-repeat;
					background-position: 0 0px;
				}
				li.sizes {
					background: url('../images/sprites/general-icons-sprite.png')no-repeat;
					background-position: 0 -75px;
				}
				li.materials {
					background: url('../images/sprites/general-icons-sprite.png')no-repeat;
					background-position: 0 -145px;
				}
			}
		}//general

		.parts {
			ul {
				li.frame {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 0px;
				}
				li.chainWheel {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 -62px;
				}
				li.pedals {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 -125px;
				}
				li.wheels {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 -187px;
				}
				li.frame-1 {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 -252px;
				}
				li.stem {
					background: url('../images/sprites/parts-icons-sprite.png')no-repeat;
					background-position: 0 -315px;
				}
			}
		}//parts

		.box  {
			ul {
				li {
					padding-left:80px;
				}
				li.hugo-bicycle {
					background: url('../images/sprites/box-icons-sprite.png')no-repeat;
					background-position: 0 0px;
				}
			}
		}
	}
}

