//$add to cart section begin


.add-to-cart-section {
	margin-top: 0;
	text-align: left;
	@media (min-width: 1600px) {
		height: 100%;	
	}
	.product-name {
		h1 {
			color:#007984;
			font-family: $lobster-font;
			@include font-size(80px);
		}
		h2 {
			color:#9ae8dd;
			@include font-size(26px);
		}
	}
	.product-options {
		.form-group {
			margin-bottom: 20px;		
			span {
				margin-right:15px;
			}
		}
		label {
			@include font-size(25px);
		}
		.add_to_cart {
			span {
				background: none;
				img {
					border-right:1px solid #dfdad7;
					padding-right:15px;
					padding-left:5px; 
				}
			}
		}

		h3 {
			color:#7c6f66;
			@include font-size(30px);
			padding-bottom: 10px;
			margin-bottom: 30px;
			margin-top: 30px;
			-webkit-box-shadow: 0 8px 6px -6px  #ebe7e3;
	   		-moz-box-shadow: 0 8px 6px -6px #ebe7e3;
	        box-shadow: 0 8px 6px -6px  #ebe7e3;
	        width:250px;
	        text-align: center;
			input[type="text"] {
				width: 50px;
				border-radius: 20px;
				border: 1px solid #b0a8a2;
				text-align: center;
			}
		}

		.select_size {
			label { color:#c3b6ad; }
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + label span {
			    display:inline-block;
			    width:29px;
			    height:29px;
			    vertical-align:middle;
			    background:url('../images/radio_button.png') left top no-repeat;
			    cursor:pointer;
			}
			input[type="checkbox"]:checked + label span {
			    background:url('../images/radio_button_active.png')no-repeat;
			    background-position: 0 0px;
			    @include border-radius(20px);

			}

		}

		.select_color {
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"] + label span {
			    display:inline-block;
			    width:29px;
			    height:29px;
			    vertical-align:middle;
			    cursor:pointer;
			}
			.celadon input[type="checkbox"] + label span {
				background:url('../images/radio_buttons_sprite.png')no-repeat;
				background-position: 0px 1px;
			}
			.celadon label  { color:#007984; }
			.celadon input[type="checkbox"]:checked + label span {
				background:url('../images/radio_buttons_active_sprite.png')no-repeat;
				background-position: 0px 1px;
			}
			.mustard input[type="checkbox"] + label span {
				background:url('../images/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -26px;
			}
			.mustard label  { color:#f19911; }
			.mustard input[type="checkbox"]:checked + label span {
				background:url('../images/radio_buttons_active_sprite.png')no-repeat;
				background-position: 0px -26px;
			}
			.coral input[type="checkbox"] + label span {
				background:url('../images/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -53px;
			}
			.coral label { color:#f61737; }
			.coral input[type="checkbox"]:checked + label span {
				background:url('../images/radio_buttons_active_sprite.png')no-repeat;
				background-position: 0px -53px;
			}
			.grey input[type="checkbox"] + label span {
				background:url('../images/radio_buttons_sprite.png')no-repeat;
				background-position: 0px -80px;
			}
			.grey label { color: #7c6f66; }
			.grey input[type="checkbox"]:checked + label span {
				background:url('../images/radio_buttons_active_sprite.png')no-repeat;
				background-position: 0px -80px;
			}
		}
	}//product options
}