// $products_spotlight begin

.products_spotlight {	
	padding-top:15px;
	margin-top:0;	
	.col-xs-8 {
			padding-right:0;
			@include bp-medium {
				padding:0;
			}
			@media (max-width: 600px) { width:100%; }
		}
		@include bp-small {
			.col-xs-hidden { display: none;}
			text-align: center;
		}
	//tagline
	.spotlight_tagline {
			@include ghostVerticalAlign;
			@media (min-width: 1680px) {
				height: 300px;
				display: table;
			}
 
		h1 {
			@include font-size(60px);
			color:#8d827a;
			text-align: left;
			font-weight: 300;
			@media (min-width: 1680px)  {
				display: table-cell;
				vertical-align: middle;
			}
			@media (max-width:992px) {
				@include font-size(30px);
			}
			@include bp-small {
				@include font-size(20px);
			}
		
		}
	}
	//top products
	.spotlight_products {
		margin-top:0;
		@media (max-width:992px) {
			.col-xs-3 {padding:5px;}
		}
		@include bp-small {
			.col-xs-3 { width:50%;}
		}
		ul {
			li {
				box-shadow: 2px 0px 10px 0px #bdbdbd;
				-moz-box-shadow:2px 0px 10px 0px #bdbdbd;
				font-family: $lobster-font;
				position: relative;
				padding:0;
				@include clearfix;
				.bicycle-icon {
					position: absolute;
					right:5px;
					bottom:10px;
					.bicycle-mobile {
						display: none;
					}
					@media (max-width:992px){
						position: static;
						.bicycle-mobile {
							display: block;
							float:right;
							margin-top:10px;
							position: absolute;
							right:10px;
						}
						.bicycle-desktop {
							display: none;
						}
					}
				}
				.product_name {
					@include font-size(24px);
					text-align: left;
					float:left;
					margin-left:5px;
					@media (max-width:992px) {
						@include font-size(15px);
						float:left;
					}
					@media (max-width: 600px) {
						@include font-size(25px);
					}
				}
				img:first-child {
					margin:0 auto;
					width:100%;
				}
				//colors
			}
				.col-xs-3:nth-child(1) .product_name   { color: #77c9b6;}
				.col-xs-3:nth-child(2) .product_name   { color: #f2af72;}
				.col-xs-3:nth-child(3) .product_name   { color: #7b8ca8;}
				.col-xs-3:nth-child(4) .product_name   { color: #f69e9f;}
		}
	}

}

//new products
.new_products_spotlight {
	padding-top:20px;
	ul {
		li {
			box-shadow: 2px 0px 10px 0px #bdbdbd;
			-moz-box-shadow: 2px 0px 10px 0px #bdbdbd;
			padding:0;
			overflow: hidden;
			height: 470px;
			@include clearfix;
			@media (min-width: 992px) and (max-width:1679px) { height:340px; }
			@media (min-width: 600px) and (max-width:992px)  { height:250px; }
			@media (max-width: 400px) {
				height: 180px;
				margin-bottom: 20px;
			}
			img {
				width:100%;
				 -webkit-transition: all 0.2s linear;
          		transition: all 0.2s linear;
          		cursor: pointer;
				&:hover {
					transform: scale(1.05);
				}
				@media (min-width: 601px) and (max-width:800px) {
					height:170px;
				}
			}
			.product_spotlight_image {
				overflow: hidden;
			}
			.description {
				text-align: left;
				margin-left:10px;
				@media (max-width:992px) {
					padding:5px;
				}
				h3 {
					color:#8d827a;
					margin-top:10px;
					@include font-size(24px);
					@media (max-width:992px) {
						@include font-size(14px);
						margin-top:0;
					}
				}
				p {
					color:#8d827a;
					@include font-size(17px);
					@media (max-width:992px) {
						@include font-size(10px);
					}
				}
			}
		}
	}
	.product_visible {
		@include bp-small {
			display: none;
		}
	}
	.product_hidden {
		display: none;
		@include bp-small { display: block; }
	}
	.col-xs-3 {
		@include bp-small { width:50%; }
	}
	.col-xs-6 {
		@include bp-small { width:100%; }
	}
}	
