//$footer begin

footer {
	background: #d8d2cb;
	-webkit-box-shadow: inset -10px 14px 18px -10px #82746A;
    -moz-box-shadow: inset -10px 14px 18px -10px #82746A;
    box-shadow:  inset -10px 14px 18px -10px #82746A;
	color:#9f9086;
	padding-top:25px;
	padding-bottom: 25px;
	border-top:1px solid #82746A\9;
		ul {
		padding-left:0;
		li {
			list-style: none;
			margin-bottom: 15px;
			@include font-size(18px);
			@include bp-medium {
				@include font-size(12px);
			}
			a {
				color:#9f9086;
			}
		}

	}		
	.col-xs-3 li:last-child { margin-bottom: 0;}
	.social-list {
		li:first-child,li {
			padding-left:0;
		}
	}

	.media {
		.media-left {
			float:left;
			margin-right: 20px;
			img {
				@include bp-medium {
					width:50px;
				}
			}
		}
		.media-heading {
			@include bp-medium {
				@include font-size(12px);
			}
		}
		.media-body {
			p {
				@include font-size(16px);
				@include bp-medium {
					@include font-size(12px);
				}
			}
			a {
				color:#9f9086;
				text-decoration: underline;
				@include bp-medium {
					@include font-size(12px);
				}
			}
		}
	}
	.footer-mobile {
		display: none;
		@include bp-small {
			display: block;
		}
		.list-inline {
			border-bottom: 2px solid #b6ada5;
			text-align: center;
			li img { width:20px;}
			li {
				height: 40px;
				vertical-align: bottom;
				border-right:1px solid #b3a89e;
				padding-top:10px;
				padding-right: 10px;
				img {
					margin-right:5px;

				}
			}
			li:nth-child(2) {
				img {
					margin-top: -15px;
					position: relative;
					top:10px;
				}
			}
			li:last-child { border :0;}

		}
		.footer-bottom-mobile {
			padding-left:20px;
			padding-right: 20px;
			ul {
				float:left;
				li {
					a {
						text-decoration: underline;

					}
				}
			}
			.copyright {
				text-align: right;

				p {
					@include bp-medium {
						@include font-size(12px);
					}
				}
			}
		}
	}
	.footer-desktop {
		.copyright {

		}
		@include bp-small {
			display: none;
		}
	}

}