//$Parralax section begin

.parallax-section {
	  background: url("../images/intro-image.jpg") 50% 0 repeat fixed; 
	  height:100%;
	  width: 100%; 
	  max-width: 1920px; 
	  position: relative; 
	  margin-top:75px;
	  text-align: inherit;

	  //right side icons
	  .fixed-icons {
	  	position: fixed;
	  	right:0;
	  	bottom:10%;
	  	z-index: 200;
	  	ul {
	  		background: #fff;
	  		box-shadow: 2px 0px 10px 0px #bdbdbd;
	  		width:70px;
	  		text-align: center;
	  		padding-left:0;
	  		li {
	  			list-style: none;
	  			background: url('../images/horizontal-separator.png')no-repeat;
	  		}
	  	}
	  }
	  .product {
	  	h1 {
	  		color:#6dcacd;
	  		@include font-size(90px);
	  		font-family: $lobster-font;
	  	}
	  	h2 {
	  		color:#6dcacd;
	  		@include font-size(45px);
	  	}
	  	.add_to_cart {
	  		margin-top:20px;
	  		width:260px;

	  		.btn-default {
	  			@include border-radius(30px);
	  			width:100%;
	  			@include font-size(30px);
	  			color:#7c6f66;
	  			border-color: #dcd4cd;
	  			behavior: url(../dev-assets/css/PIE.htc);
	  			padding:0;
	  			span {
	  				float:left;
	  				padding:3px;
	  				padding-left:6px;
	  				padding-right:6px;
	  				background: #dcd8d6;
	  				@include border-radii(20px,0,0,20px);
	  				img {
	  					position: relative;
	  					bottom: 3px;
	  				}
	  			}
	  		}
	  	}
	  }
}


